.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.display {
    display: flex;
}

.box {
    height: 600px;
    width: 300px;
}

.relative {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relative img {
    position: absolute;
    width: 200px;
}

