.box:hover {
    transform: translate(50px,20px);
    transition: 3s;
}
.box {
    width: 100px;
    height: 100px;
    background-color: red;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: 3s;
}
.box2:hover {
    transform: rotate(360deg);
}
.box3 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    transition: 3s;
}
.box3:hover {
    transform: scale(1.2);
}
.box4 {
    width: 100px;
    height: 100px;
}
.box4:hover {
    transform: skew(20deg);
    transition: 3s;
}
.box5 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
.box5:hover {
    transform: rotate(10deg) scale(1.1) translateY(-10px);
    transition: 4s;
}